<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanya Truong Express Portfolio</title>
    <link type="text/css" rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/Content/style.css">

    <!-- Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/typed.js/dist/typed.umd.js"></script>
</head>
<body>
    <!-- Navigation -->
    <%- include('nav') %>