<!-- About Me-->
<section class="py-1">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <br>
                    <p class="lead fw-light mb-4 text-justify">Hello, everyone! My name is Tanya Truong, 
                        and I am a passionate student web developer currently pursuing my studies in 
                        Software Engineering Technology at Centennial College.</p>
                    <p class="text-muted text-justify">
                        With a strong foundation in programming languages like HTML, CSS, C#, Java and JavaScript, 
                        I am constantly seeking opportunities to expand my knowledge and sharpen my skills in web development. 
                        I find great joy in bringing creative ideas to life through well-designed and user-friendly websites. 
                        Through my coursework and personal projects, 
                        I have gained experience in developing responsive and visually appealing web solutions. 
                        I am an enthusiastic learner, always eager to explore the latest web technologies and trends. 
                        I believe that effective communication and teamwork are crucial in delivering successful web projects, 
                        and I thrive in collaborative environments. 
                        I am excited to contribute my skills and dedication to creating innovative web experiences. 
                        Let's connect and embark on this exciting journey together!"
                    </p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>