<!-- Projects -->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-4">
                                <h2 class="fw-bolder"><a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" target="_blank" href="http://studentweb.cencol.ca/mtruon32/COMP125/Assignment3/index.html">Bug Smasher</a></h2>
                                <p>"Bug Smasher" - an addictive web app where your goal is to score as many points as possible while facing the challenge of limited lives.</p>
                            </div>
                            <img class="img-fluid p-4" src="bug-smasher.png" alt="bug-smasher" />
                        </div>
                    </div>
                </div>

                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-4">
                                <h2 class="fw-bolder"><a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" target="_blank" href="http://studentweb.cencol.ca/mtruon32/FinalProject/">Sandwich Shop</a></h2>
                                <p>"Ba Le Sandwich" - your go-to online destination for delicious sandwiches from a popular sandwich shop.</p>
                            </div>
                            <img class="img-fluid p-4" src="sandwich-shop.png" alt="sandwich" />
                        </div>
                    </div>
                </div>

                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-4">
                                <h2 class="fw-bolder"><a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" target="_blank" href="http://studentweb.cencol.ca/mtruon32/COMP125/Assignment2/index.html">Interactive Slideshow</a></h2>
                                <p>"Interactive Slideshow" - a captivating web app that brings your picture gallery to life with its engaging features.</p>
                            </div>
                            <img class="img-fluid p-4" src="interactive-slideshow.png" alt="interactive-slideshow" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

