<section id="price-section">
    <div class="container">
        <div class="row justify-content-center gapsectionsecond">
            <div class="col-lg-7 text-center">
                <div class="title-big pb-3 mb-3">
                    <h2 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Service Prices</span></h2>
                </div>
                <p class="description-p text-muted pe-0 pe-lg-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price">
                    <div class="price-innerdetail text-center">
                        <h5>MINIMUM BASIC SERVICE</h5>
                        <p class="prices">$150</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Functional </span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Features: </span>
                            <span class="float-right">5 - 10</span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                            <span class="float-right">Style</span>
                        </div>
                        <a href="/contact" class="btn btn-secondary mt-5">Schedule</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price center-wrap">
                    <div class="price-innerdetail text-center">
                        <h5>PRO SERVICE</h5>
                        <p class="prices">$350</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Complete Project</span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Features: </span>
                            <span class="float-right">Maximum of 100</span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                            <span class="float-right">Style</span>
                        </div>
                        <a href="/contact" class="btn btn-secondary mt-5">Schedule</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price">
                    <div class="price-innerdetail text-center">
                        <h5>STANDART SERVICE</h5>
                        <p class="prices">$250</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Functional + Customization  </span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Features: </span>
                            <span class="float-right">20 - 50</span>
                        </div>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                            <span class="float-right">Style</span>
                        </div>
                        <a href="/contact" class="btn btn-secondary mt-5">Schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>